{#
/**
 * @file
 * Copy of templates/paragraph.html.twig from the Paragraph module.
#}
{%
  set classes = [
    'paragraph',
    'text-content',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      <blockquote>
        {{ content.field_text_block }}
      </blockquote>
    {% endblock %}
  </div>
{% endblock paragraph %}
