{%
  set classes = [
    'paragraph',
    'text-content',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_node_reference.0 %}
        <a href="{{ content.field_node_reference.0['#url'] }}">
          {{ content.field_text_block }}
        </a>
      {% else %}
        {{ content.field_text_block }}
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
