{#
/**
 * @file
 * hcas newsletter signup form template.
 */
#}

<div id="mc_embed_signup">
    <h3>
        Nyhedsbrev
    </h3>
    <form class="validate" action="https://hcandersensamfundet-odense.us6.list-manage.com/subscribe/post?u=64f7dd103b9860cb5d5ed4da0&amp;id=46f70fa0b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
        <p>
            <input type="email" value="" autocomplete="on" name="EMAIL" id="mce-EMAIL" placeholder="e-mail-adresse" required=""> <input class="button button--secondary form-submit" type="submit" value="Tilmeld" name="subscribe" id="mc-embedded-subscribe">
        </p>
    </form>
</div>