.teaser--flex-container {
  display: flex;
  column-gap: var(--sp2) !important;
  & .teaser__image {
    flex: none;
    /* max-width: unset; */
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  & .teaser__title {
    line-height: normal;
    margin: 0 !important;
    margin-block-end: var(--sp1) !important;
  }
}
.teaser-link {
  text-decoration-color: var(--color--primary-80);
  text-decoration: none;
  color: var(--color-text-neutral-loud);
  margin-block-end: var(--sp2);
  transition: box-shadow .2s ease-in-out;
  box-shadow: none;
  &:hover {
    box-shadow: 10px 10px 20px 2px #ddd;
  }
}
#mc_embed_signup {
  h3 {
    margin: 0 0 var(--sp1);
  }
  input {
    width: 100%;
    &::placeholder {
        text-align: center;
    }
  }
}

/* #block-hcas-page-title {
    margin-block-end: var(--sp1) !important;
} */

h2, h3, h4, h5 {
    margin-block: var(--sp1) !important;
}

p {
    margin-block: var(--sp1-5) !important;
}

/* p {
    margin-block: var(--sp1) !important;
} */

.wide-content {
    width: auto !important;
    margin-inline-start: 0 !important;
}

/*
 * Todo: check if this works for 2-column layouts in general
 */

.layout--twocol, .layout--twocol-bricks {
    & > .layout__region--first, .layout__region--first-above, .layout__region--first-below {
        padding-inline-end: 2em;
    }
}

.layout__region .field--type-image {
    margin: 0 !important;
}

a.button--primary.paragraph--type--button {
    height: auto;
    min-height: var(--sp3);
    color: var(--color--white);
    padding: calc(0.5 * var(--sp1)) var(--sp2);
    #block-hcas-member-signup & {
        width: 100%;
        justify-content: center;
        line-height: normal;
    }
}

.paragraph--type--medie {
    margin-block: var(--sp0-5) !important;
    a {
        font-weight: bold;
    }
}

.view-content, .contextual-region.view-anderseniana {
    gap: calc(0.5 * var(--sp1)) !important;
}

#block-hcas-taxonomytermpagetitle {
    margin: 0 !important;
    .block__title {
        color: var(--color-text-neutral-medium);
        font-size: 1.5rem;
        line-height: var(--sp);
    }
}

#block-hcas-frontpage-heading {
    margin: 0;
}

@media (min-width: 75rem) {
    #block-hcas-site-branding {
        /* min-height: var(--site-header-height-wide); */
        flex: 4;
    }
    #header-nav {
        flex: 1;
    }
}
/* old site theme base color: #cf7618 */
/* new color: #e68d2d, #ea9234, #e58f34 */
.little-spacing {
    margin-block: var(--sp0-5);
}