.teaser--flex-container {
  display: flex;
  gap: var(--sp2);
  & .teaser__image {
    flex: none;
    /* max-width: unset; */
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  & .teaser__title {
    line-height: normal;
    margin: 0;
    margin-block-end: var(--sp1);
  }
}
.teaser-link {
  text-decoration-color: var(--color--primary-80);
  text-decoration: none;
  color: var(--color-text-neutral-loud);
}
#mc_embed_signup {
  h3 {
    margin: 0 0 var(--sp1);
  }
  input {
    width: 100%;
  }
}

h2, h3, h4, h5 {
    margin-block: var(--sp1) !important;
}

p {
    margin-block: var(--sp1-5) !important;
}

/* p {
    margin-block: var(--sp1) !important;
} */

.wide-content {
    width: auto !important;
    margin-inline-start: 0 !important;
}

/*
 * Todo: check if this works for 2-column layouts in general
 */

.layout--twocol, .layout--twocol-bricks {
    & > .layout__region--first, .layout__region--first-above, .layout__region--first-below {
        padding-inline-end: 2em;
    }
}

.layout__region .field--type-image {
    margin: 0 !important;
}

a.button--primary.paragraph--type--button {
   color: var(--color--white);
}

.view-content, .contextual-region.view-anderseniana {
    gap: calc(0.5 * var(--sp1)) !important;
}
