
blockquote::after {
    content: none !important;
}
.teaser--flex-container {
    display: flex;
    flex-direction: column;
    /* column-gap: var(--sp2) !important; */
    & .teaser__image {
        flex: none;
        margin-block-end: var(--sp2);
        /* max-width: unset; */
        &.image-right {
            margin-block-end: 0;
            margin-block-start: var(--sp2);
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    & .teaser__title {
        line-height: normal;
        margin: 0 !important;
        margin-block-end: var(--sp1) !important;
    }
}
@container (width > 375px) {
    .node--view-mode-teaser {
      /* column-gap: var(--sp2) !important; */
      flex-direction: row;
      & .teaser__image {
          margin-block-end: 0;
          margin-inline-end: var(--sp2);
          &.image-right {
            margin-inline-start: var(--sp2);
            margin-inline-end: 0;
          }
      }
    }
}

@container (width > 500px) {
    .node--view-mode-first-and-larger-teaser {
        flex-direction: row;
        & .teaser__image {
            margin-block-end: 0;
            margin-inline-end: var(--sp2);
            &.image-right {
                margin-inline-start: var(--sp2);
                margin-inline-end: 0;
            }
        }
    }
}

a.teaser-link {
    display: block;
    width: 100%;
    container-type: inline-size;
    text-decoration-color: var(--color--primary-80);
    text-decoration: none;
    color: var(--color-text-neutral-loud);
    margin-block-end: var(--sp2);
    transition: opacity .2s ease-in-out;
    box-shadow: none;
    opacity: 1;
    &:hover {
    /* box-shadow: 8px 8px 20px 8px #e9e9e9; */
        opacity: 0.85;
    }
}
#mc_embed_signup {
  h3 {
    margin: 0 0 var(--sp1);
  }
  input {
    width: 100%;
    &::placeholder {
        text-align: center;
    }
  }
}

/* #block-hcas-page-title {
    margin-block-end: var(--sp1) !important;
} */

h2, h3, h4, h5 {
    margin-block: var(--sp1) !important;
}

p {
    margin-block: var(--sp1-5) !important;
}

/* p {
    margin-block: var(--sp1) !important;
} */

.wide-content {
    width: auto !important;
    margin-inline-start: 0 !important;
}

/*
 * Todo: check if this works for 2-column layouts in general
 */
/* .layout--twocol, .layout--twocol-bricks, .layout--threecol-25-50-25, .layout--threecol-33-34-33,  */
.paragraph--type--two-columns {
    & .layout__region--third {
        padding-inline-start: 0em;
    }
}


@media (min-width: 40rem) {
    .paragraph--type--two-columns {
        & .layout__region--first, .layout__region--first-above, .layout__region--first-below {
            padding-inline-end: var(--sp1);
        }
        & .layout__region--second, .layout__region--second-above, .layout__region--second-below {
            padding-inline-start: var(--sp1);
        }
    }
    .layout--threecol-25-50-25, .layout--threecol-33-34-33 {
        & .layout__region--first {
            padding-inline-end: var(--sp1);
        }
        & .layout__region--second {
            padding-inline: var(--sp1);
        }
        & .layout__region--third {
            padding-inline-start: var(--sp1);
        }
    }
}

.layout__region .field--type-image {
    margin: 0 !important;
}

.paragraph--type--button {
    text-align: center;
}

a.button--primary.paragraph--type--button {
    height: auto;
    min-height: var(--sp3);
    color: var(--color--white);
    padding: calc(0.5 * var(--sp1)) var(--sp3);
    margin: 0;
    /* #block-hcas-member-signup & {
        width: 100%;
        justify-content: center;
        line-height: normal;
    } */
}

.paragraph--type--medie {
    margin-block: var(--sp0-5) !important;
    a {
        font-weight: bold;
    }
}

.view-content, .contextual-region.view-anderseniana {
    gap: calc(0.5 * var(--sp1)) !important;
}

#block-hcas-taxonomytermpagetitle {
    margin: 0 !important;
    .block__title {
        color: var(--color-text-neutral-medium);
        font-size: 1.5rem;
        line-height: var(--sp);
    }
}

#block-hcas-frontpage-heading {
    margin: 0;
}

#block-hcas-andersenianalink {
    margin: 0;
    h3 {
        margin-block-start: 0 !important;
    }
}

@media (min-width: 75rem) {
    #block-hcas-site-branding {
        /* min-height: var(--site-header-height-wide); */
        flex: 4;
        padding-inline-end: calc(23 * var(--sp1));
    }
    #header-nav {
        flex: 1;
    }
    .paragraph--type--two-columns {
        & .layout__region--third {
            padding-inline-start: 2em;
        }
    }
}
/* old site theme base color: #cf7618 */
/* new color: #e68d2d, #ea9234, #e58f34 */
.little-spacing {
    margin-block: var(--sp0-5);
}